@use 'variables'
@use 'mixins'
    
.container
    display: flex
    flex-direction: column

.content
    margin: variables.$margin-homepage

.primaryNewsContainer
    display: flex
    justify-content: space-between
    margin-top: 84px
    width: 100%

    @media screen and (max-width: 1200px)
        flex-direction: column
        align-items: center
        gap: 30px

.newsWithImageContainer
    display: flex
    gap: 20px

    @media screen and ( max-width: 600px)
        flex-direction: column
        

.secundaryNewsContainer
    @include mixins.responsive-grid(4, 2)

    @media screen and (max-width: 1700px)
        @include mixins.responsive-grid(3, 2)
    
    @media screen and (max-width: 1300px)
        @include mixins.responsive-grid(2, 4)

.link
    text-decoration: none
    color: inherit