@use 'variables'
    
.container
    display: flex
    flex-direction: column

.content
    margin: variables.$margin-homepage

    section
        display: flex
        justify-content: space-between
        margin-top: 84px
        width: 100%

.NewsWithImageContainer
    display: flex
    gap: 20px