@use 'variables'
    
.container
    display: flex
    flex-direction: column

.content
    margin: variables.$margin-homepage

.primaryNewsContainer
    display: flex
    justify-content: space-between
    margin-top: 84px
    width: 100%

.newsWithImageContainer
    display: flex
    gap: 20px

.secundaryNewsContainer
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(2, 1fr)
    gap: 20px
    margin-top: 60px