
.article
    display: flex
    align-items: center
    justify-content: cecnter
    gap: 10px
    height: 50px
    width: 300px
    cursor: pointer

    div
        width: 10px
        border-radius: 100px
        height: 100%
        background-color: blue

    p
        font-size: 15px
        font-weight: 700
        line-height: 20px
        text-align: left